*.bak
*.pyc
*.txt
*.csv
.coverage
.cache
*.swp
*.tsv
htmlcov
*.log
bin/
lib/
lib64
*.egg-info*
include/
tags
man
cover/
build/
.idea*
dist/
uploader.json
file_plugin_mapping.json
pip-selfcheck.json
.agignore
.project
.pydevproject
*.zip
*.gz
